html{
  font-family: serif;
}
body{
  color: white;
  background-color: #250056;
}
.wip{
  background-color: #750007;
  text-align: center;
  border: 5px dashed red;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}
a{
  color:#BF8EFF;
}
@examples{
  width: ;
  color: yellow;
  align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.header a{
  border: 30px ridge white;
  padding-left: 20%;
  padding-right: 20%;
  margin: 10px, 10px, 10px, 10px;
}
