html{
  font-family: serif;
}
body{
  color: white;
  background-color: #250056;
}
#wip{
  background-color: #750007;
  text-align: center;
  border: 5px dashed red;
  margin-left: 25%;
  margin-right: 25%;
}
a{
  color:#BF8EFF;
}
